<h1>Réseau des colocataires</h1>
<p>
  Ceci est la page d'accueil de l'Application !
</p>

<div id="map-canvas" style="height: 200px"></div>

<script type="text/javascript">
  window.data = <%= @coloc.to_json.html_safe %>;
  window.page = 'home';
</script> 